# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

            price         age  from station  number of convenience stores
count  414.000000  414.000000    414.000000                    414.000000
mean    37.980193   17.712560   1083.885689                      4.094203
std     13.606488   11.392485   1262.109595                      2.945562
min      7.600000    0.000000     23.382840                      0.000000
25%     27.700000    9.025000    289.324800                      1.000000
50%     38.450000   16.100000    492.231300                      4.000000
75%     46.600000   28.150000   1454.279000                      6.000000
max    117.500000   43.800000   6488.021000                     10.000000