# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('Real estate valuation data set.csv')

df0.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Price  (the house price of unit area)

**IVs**:
- Age ("X2 house age" column in the CSV file)
- From station ("X3 distance to the nearest MRT station" column in the CSV file)
- Number of convenience stores  ("X4 number of convenience stores" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[  ['Y house price of unit area', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores']  ]

df.describe()

,Y house price of unit area,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores
count,414.000000,414.000000,414.000000,414.000000
mean,37.980193,17.712560,1083.885689,4.094203
std,13.606488,11.392485,1262.109595,2.945562
min,7.600000,0.000000,23.382840,0.000000
25%,27.700000,9.025000,289.324800,1.000000
50%,38.450000,16.100000,492.231300,4.000000
75%,46.600000,28.150000,1454.279000,6.000000
max,117.500000,43.800000,6488.021000,10.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'Y house price of unit area':'price','X2 house age':'age', 'X3 distance to the nearest MRT station':'from station', 'X4 number of convenience stores':'number of convenience stores'} )

df.describe()

            price         age  from station  number of convenience stores
count  414.000000  414.000000    414.000000                    414.000000
mean    37.980193   17.712560   1083.885689                      4.094203
std     13.606488   11.392485   1262.109595                      2.945562
min      7.600000    0.000000     23.382840                      0.000000
25%     27.700000    9.025000    289.324800                      1.000000
50%     38.450000   16.100000    492.231300                      4.000000
75%     46.600000   28.150000   1454.279000                      6.000000
max    117.500000   43.800000   6488.021000                     10.000000